@charset "UTF-8";
/* kor */
@font-face {
  font-family: "happySans";
  font-style: normal;
  font-weight: 800;
  src: url("../../fonts/Happiness-Sans-Title.woff2") format("woff2");
  src: url("../../fonts/Happiness-Sans-Title.woff") format("woff");
}

@font-face {
  font-family: "happySans";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/Happiness-Sans-Bold.woff2") format("woff2");
  src: url("../../fonts/Happiness-Sans-Bold.woff") format("woff");
}

@font-face {
  font-family: "happySans";
  font-style: normal;
  font-weight: 400;
  src: url("../../fonts/Happiness-Sans-Regular.woff2") format("woff2");
  src: url("../../fonts/Happiness-Sans-Regular.woff") format("woff");
}

@font-face {
  font-family: "suseong";
  font-style: normal;
  font-weight: 700;
  src: url("../../fonts/SuseongHyejeong.woff") format("woff");
}

/* reset css */
article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  outline: none;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type="button"], [type="reset"], [type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type="button"]::-moz-focus-inner, [type="reset"]::-moz-focus-inner, [type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type="button"]:-moz-focusring, [type="reset"]:-moz-focusring, [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type="checkbox"], [type="radio"] {
  box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button, [type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button, [type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  width: 100%;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}

/* Font style setting */
/* Point color setting */
/* Input - color setting */
/* Button - color setting */
/* BASE SETTING */
footer .footer .fc1 .contain .donate_info:after, #sec04 .card_slide ol:after {
  content: " ";
  display: block;
  clear: both;
}

body {
  -webkit-backface-visibility: hidden;
}

input[type="button"], input[type="submit"], input[type="reset"], input[type="file"]::-webkit-file-upload-button, button {
  padding: 0;
  font-family: "happySans", serif;
  outline: none;
}

a {
  text-decoration: none;
  cursor: pointer;
  color: #000;
}

a:link, a:visited, a:active, a:hover {
  text-decoration: none;
}

select, input, button, textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  background-color: transparent;
  border: 0 none;
  font-size: 16px;
  font-weight: 700;
  font-family: "happySans", serif;
  line-height: 1;
}

select[type="checkbox"], input[type="checkbox"], button[type="checkbox"], textarea[type="checkbox"] {
  -webkit-appearance: checkbox;
}

select[type="radio"], input[type="radio"], button[type="radio"], textarea[type="radio"] {
  -webkit-appearance: radio;
}

select::-ms-expand, input::-ms-expand, button::-ms-expand, textarea::-ms-expand {
  display: none;
}

html, body {
  font-family: "happySans", serif !important;
  font-size: 16px;
  font-weight: 700;
  color: #000;
  word-break: keep-all;
  line-height: 1;
  letter-spacing: -1px;
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
  position: relative;
}

strong, h1, h2, h3, h4, h5, h6 {
  font-weight: 700;
}

label, button {
  cursor: pointer;
}

header {
  width: 100%;
  min-width: 1200px;
  margin: 0 auto;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
}

header #logo {
  position: absolute;
  top: 40px;
  left: 60px;
}

header .header_donate_btn {
  width: 180px;
  height: 60px;
  background-color: #ee0000;
  color: #fff;
  font-family: "happySans", serif;
  display: block;
  position: absolute;
  right: 60px;
  top: 40px;
  line-height: 60px;
  font-size: 18px;
  text-align: center;
  font-weight: 400;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
}

header .header_donate_btn:hover, header .header_donate_btn:focus {
  background-color: #fd2c36;
  -moz-box-shadow: 0px 6px 15px -10px #000;
  -webkit-box-shadow: 0px 6px 15px -10px #000;
  box-shadow: 0px 6px 15px -10px #000;
}

footer {
  width: 100%;
  height: 181px;
  background-color: #181b2e;
  letter-spacing: normal;
  font-style: normal;
  min-width: 1400px;
}

footer .footer {
  width: 1240px;
  margin: 0 auto;
}

footer .footer > div .contain {
  width: 85%;
  min-width: 1220px;
  margin: 0 auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

footer .footer .fc1 .contain {
  height: 87px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

footer .footer .fc1 .contain .logo_footer {
  width: 140px;
  float: left;
  padding: 20px 0 0;
  margin: 0 45px 0 0;
  text-align: left;
}

footer .footer .fc1 .contain .logo_footer a {
  display: block;
}

footer .footer .fc1 .contain .logo_footer img {
  width: 100%;
}

footer .footer .fc1 .contain ul.footer_menu {
  float: left;
  padding: 35px 0 31px;
}

footer .footer .fc1 .contain ul.footer_menu li {
  height: 100%;
  display: inline-block;
  padding: 0 15px;
  color: #c5c5c5;
}

footer .footer .fc1 .contain ul.footer_menu li a:hover {
  border-bottom: 2px solid #ed1c24;
}

footer .footer .fc1 .contain ul.footer_menu li a:link, footer .footer .fc1 .contain ul.footer_menu li a:visited {
  padding: 0 0 10px;
  font-size: 14px;
  font-weight: 300;
  color: #e8e8e8;
}

footer .footer .fc1 .contain .donate_info {
  height: 100%;
  float: right;
}

footer .footer .fc1 .contain .donate_info dl {
  float: left;
  padding: 32px 0 10px 16px;
}

footer .footer .fc1 .contain .donate_info dl:first-child {
  padding-right: 18px;
}

footer .footer .fc1 .contain .donate_info dl.account {
  position: relative;
}

footer .footer .fc1 .contain .donate_info dl.account:after {
  width: 1px;
  height: 11px;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 39px;
  background-color: #474b4e;
}

footer .footer .fc1 .contain .donate_info dl dt {
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  color: #ffe043;
  margin-right: 10px;
}

footer .footer .fc1 .contain .donate_info dl dd {
  display: inline-block;
  font-weight: 400;
  font-size: 15px;
  color: #fff;
}

footer .footer .fc2 .address {
  height: 100%;
  float: left;
  padding: 45px 0 0;
  font-size: 13px;
  color: #90929b;
}

footer .footer .fc2 .address span {
  margin: 0 0 0 13px;
  font-weight: 400;
}

footer .footer .fc2 .address span:first-child {
  margin: 0;
}

footer .footer .fc2 .donate_btn {
  float: right;
  padding: 25px 0 0;
}

footer .footer .fc2 .donate_btn a {
  width: 150px;
  padding: 15px 0;
  display: inline-block;
  background-color: #fd2c36;
  color: #fff;
  font-size: 16px;
  letter-spacing: -0.3px;
  font-weight: 400;
  border-radius: 5px;
  text-align: center;
  transition: box-shadow .2s ease;
  font-style: normal;
  border: 2px solid #fd2c36;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
}

/* html.scroll_no {
  height: 100vh;
  overflow: hidden;
  padding: 0 17px 0 0;
} */

#container {
  min-width: 1240px;
  background: url(../../images/main/bg_pattern.jpg) repeat;
}

#intro {
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #000;
  z-index: 1000;
}

#intro video {
  width: 1920px;
  height: 1080px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#mainVisual {
  width: 100%;
  height: 100vh;
  position: relative;
  background: url(../../images/main/main_bg_img01.jpg) 50% 50% no-repeat;
}

#mainVisual .txt_wrap {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  text-align: center;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

#mainVisual .txt_wrap h2 {
  font-size: 133px;
  line-height: 160px;
  font-family: "suseong", serif;
  letter-spacing: -10px;
  padding: 15px 0 0;
}

#mainVisual .txt_wrap h2 em {
  color: #fd2c36;
}

#mainVisual .unit01 {
  position: absolute;
  top: 85px;
  left: 370px;
  z-index: 1;
}

#mainVisual .unit02 {
  position: absolute;
  bottom: -35px;
  left: 0;
  z-index: 1;
}

#mainVisual .unit03 {
  position: absolute;
  top: 105px;
  right: 0;
  z-index: 1;
}

#mainVisual .unit04 {
  position: absolute;
  bottom: -35px;
  right: 0;
  z-index: 1;
}

#mainVisual .unit05 {
  position: absolute;
  top: 0;
  left: 0;
}

#mainVisual .unit06 {
  position: absolute;
  bottom: 90px;
  right: 0;
}

#mainVisual .scroll_btn {
  position: absolute;
  bottom: 40px;
  left: 50%;
  padding: 95px 0 0;
  z-index: 10;
  display: flex;
  justify-content: center;
  -webkit-transform: translate(-50%, 0);
  -moz-transform: translate(-50%, 0);
  -ms-transform: translate(-50%, 0);
  -o-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
}

#mainVisual .scroll_btn p {
  color: #868788;
  font-size: 16px;
  font-weight: 400;
  -webkit-transform: skew(-0.03deg);
  -moz-transform: skew(-0.03deg);
  -ms-transform: skew(-0.03deg);
  -o-transform: skew(-0.03deg);
  transform: skew(-0.03deg);
}

#mainVisual .scroll_btn i {
  width: 30px;
  height: 50px;
  position: absolute;
  z-index: 10;
  border: 2px solid #848585;
  left: 50%;
  bottom: 30px;
  -webkit-animation: moveDown 2s linear infinite;
  -moz-animation: moveDown 2s linear infinite;
  animation: moveDown 2s linear infinite;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#mainVisual .scroll_btn i:before {
  width: 8px;
  height: 8px;
  background-color: #848585;
  content: "";
  position: absolute;
  top: 10%;
  left: 50%;
  -webkit-animation: scroll 2s linear infinite;
  -moz-animation: scroll 2s linear infinite;
  animation: scroll 2s linear infinite;
  -webkit-border-radius: 100%;
  -moz-border-radius: 100%;
  border-radius: 100%;
}

#mainVisual .white_bg {
  width: 100%;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  display: none;
}

@keyframes moveDown {
  0% {
    -webkit-transform: translate(-50%, -25%);
    -moz-transform: translate(-50%, -25%);
    -ms-transform: translate(-50%, -25%);
    -o-transform: translate(-50%, -25%);
    transform: translate(-50%, -25%);
  }
  75% {
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  100% {
    -webkit-transform: translate(-50%, -25%);
    -moz-transform: translate(-50%, -25%);
    -ms-transform: translate(-50%, -25%);
    -o-transform: translate(-50%, -25%);
    transform: translate(-50%, -25%);
  }
}

@keyframes scroll {
  0% {
    opacity: 0;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
  }
  50% {
    opacity: 1;
    -webkit-transform: translate(-50%, 12.5px);
    -moz-transform: translate(-50%, 12.5px);
    -ms-transform: translate(-50%, 12.5px);
    -o-transform: translate(-50%, 12.5px);
    transform: translate(-50%, 12.5px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translate(-50%, 25px);
    -moz-transform: translate(-50%, 25px);
    -ms-transform: translate(-50%, 25px);
    -o-transform: translate(-50%, 25px);
    transform: translate(-50%, 25px);
  }
}

.txt_up_motion {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, 30px);
  -moz-transform: translate(0, 30px);
  -ms-transform: translate(0, 30px);
  -o-transform: translate(0, 30px);
  transform: translate(0, 30px);
}

#sec01 {
  padding: 0 0 315px;
  position: relative;
}

#sec01 .sec_wrap {
  width: 1200px;
  margin: 0 auto;
  padding: 130px 0 0;
}

#sec01 .sec_wrap h3 {
  color: #000;
  text-align: center;
  font-size: 46px;
  letter-spacing: -3px;
  font-weight: 800;
}

#sec01 .sec_wrap h3 em {
  color: #fd2c36;
}

#sec01 .sec_wrap .video_wrap {
  width: 1080px;
  height: 604px;
  margin: 60px auto 0;
  background-color: #000;
  position: relative;
}

#sec01 .sec_wrap .video_wrap .video_box {
  width: 100%;
  height: 604px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 110;
}

#sec01 .sec_wrap .video_wrap .video_close_btn {
  width: 60px;
  height: 60px;
  position: fixed;
  right: 50px;
  bottom: 290px;
  z-index: 110;
  background-image: url(../../images/main/video_box_close.png);
  text-indent: -9999px;
  display: none;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: background-image 0.2s ease;
  -moz-transition: background-image 0.2s ease;
  -o-transition: background-image 0.2s ease;
  -ms-transition: background-image 0.2s ease;
  -ms-background-position-x: 50%;
  background-position-x: 50%;
  -ms-background-position-y: 50%;
  background-position-y: 50%;
  background-repeat: no-repeat;
}

#sec01 .sec_wrap .video_wrap .video_close_btn:hover {
  background-image: url(../../images/main/video_box_close_hover.png);
}

#sec01 .sec_wrap .video_wrap iframe {
  width: 100%;
  height: 100%;
}

#sec01 .sec_wrap .txt_wrap {
  width: 1080px;
  margin: 0 auto;
  padding: 100px 0 0;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: -1.5px;
}

#sec01 .sec_wrap .txt_wrap .txt02 {
  padding: 24px 0 0;
  line-height: 36px;
}

#sec01 .sec_wrap .txt_wrap .txt02 em {
  color: #fd2c36;
  display: block;
}

#sec01 .unit01,
#sec01 .unit02 {
  position: absolute;
  left: 50%;
  bottom: 0;
}

#sec01 .unit01 {
  -webkit-transform: translate(-50%, -106px);
  -moz-transform: translate(-50%, -106px);
  -ms-transform: translate(-50%, -106px);
  -o-transform: translate(-50%, -106px);
  transform: translate(-50%, -106px);
}

#sec01 .unit02 {
  -webkit-transform: translate(-50%, -3px);
  -moz-transform: translate(-50%, -3px);
  -ms-transform: translate(-50%, -3px);
  -o-transform: translate(-50%, -3px);
  transform: translate(-50%, -3px);
  z-index: 1;
}

#sec01 .unit03 {
  position: absolute;
  left: 50%;
  bottom: 100px;
  margin: 0 0 0 400px;
}

#sec02 {
  min-width: 1200px;
  height: 735px;
  margin: 140px auto 0;
  background: url(../../images/main/sec02_bg01.png) no-repeat 50% 50%;
  position: relative;
}

#sec02 .txt_wrap {
  position: absolute;
  top: 110px;
  left: 50%;
  -webkit-transform: translate(40px, 0);
  -moz-transform: translate(40px, 0);
  -ms-transform: translate(40px, 0);
  -o-transform: translate(40px, 0);
  transform: translate(40px, 0);
}

#sec02 .txt_wrap strong {
  font-size: 40px;
  font-weight: 800;
  color: #5d81a1;
}

#sec02 .txt_wrap p {
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  color: #3a4045;
}

#sec02 .txt_wrap p em {
  color: #d91719;
}

#sec02 .txt_wrap .txt01 {
  padding: 40px 0 0;
}

#sec02 .txt_wrap .txt02 {
  padding: 15px 0 0;
}

#sec02 .car_img {
  position: absolute;
  top: 205px;
  left: 50%;
  margin: 0 0 0 -740px;
  -webkit-transform: translate(-30px, 0);
  -moz-transform: translate(-30px, 0);
  -ms-transform: translate(-30px, 0);
  -o-transform: translate(-30px, 0);
  transform: translate(-30px, 0);
  opacity: 0;
  filter: alpha(opacity=0);
}

#sec03 {
  padding: 105px 0 0;
}

#sec03 .tit_wrap {
  width: 1200px;
  margin: 0 auto;
  text-align: center;
}

#sec03 .tit_wrap h3 {
  font-size: 40px;
  font-weight: 800;
  line-height: 44px;
}

#sec03 .tit_wrap h3 span {
  font-size: 44px;
  vertical-align: top;
}

#sec03 .tit_wrap p {
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
  padding: 35px 0 0;
}

#sec03 .tit_wrap p span {
  font-style: italic;
  color: #a5a9b1;
}

#sec03 .tit_wrap p em {
  color: #d91719;
}

#sec03 .earth_wrap {
  width: 100%;
  min-width: 1200px;
  height: 1745px;
  position: relative;
  margin: 60px auto 0;
  background: url(../../images/main/sec03_bg01.png) no-repeat 50% 50%;
}

#sec03 .earth_wrap img {
  position: absolute;
  left: 50%;
}

#sec03 .earth_wrap .unit01 {
  top: 240px;
  margin: 0 0 0 -570px;
  -webkit-transform: translate(-70px, -70px);
  -moz-transform: translate(-70px, -70px);
  -ms-transform: translate(-70px, -70px);
  -o-transform: translate(-70px, -70px);
  transform: translate(-70px, -70px);
}

#sec03 .earth_wrap .unit02 {
  top: 310px;
  margin: 0 0 0 -131px;
  -webkit-transform: translate(0, -70px);
  -moz-transform: translate(0, -70px);
  -ms-transform: translate(0, -70px);
  -o-transform: translate(0, -70px);
  transform: translate(0, -70px);
}

#sec03 .earth_wrap .unit03 {
  top: 255px;
  margin: 0 0 0 200px;
  -webkit-transform: translate(70px, -70px);
  -moz-transform: translate(70px, -70px);
  -ms-transform: translate(70px, -70px);
  -o-transform: translate(70px, -70px);
  transform: translate(70px, -70px);
}

#sec03 .earth_wrap .unit04 {
  top: 520px;
  margin: 0 0 0 -730px;
  -webkit-transform: translate(-70px, 70px);
  -moz-transform: translate(-70px, 70px);
  -ms-transform: translate(-70px, 70px);
  -o-transform: translate(-70px, 70px);
  transform: translate(-70px, 70px);
}

#sec03 .earth_wrap .unit05 {
  top: 650px;
  margin: 0 0 0 -400px;
  -webkit-transform: translate(-30px, 70px);
  -moz-transform: translate(-30px, 70px);
  -ms-transform: translate(-30px, 70px);
  -o-transform: translate(-30px, 70px);
  transform: translate(-30px, 70px);
}

#sec03 .earth_wrap .unit06 {
  top: 620px;
  margin: 0 0 0 75px;
  -webkit-transform: translate(30px, 70px);
  -moz-transform: translate(30px, 70px);
  -ms-transform: translate(30px, 70px);
  -o-transform: translate(30px, 70px);
  transform: translate(30px, 70px);
}

#sec03 .earth_wrap .unit07 {
  top: 550px;
  margin: 0 0 0 385px;
  -webkit-transform: translate(70px, 70px);
  -moz-transform: translate(70px, 70px);
  -ms-transform: translate(70px, 70px);
  -o-transform: translate(70px, 70px);
  transform: translate(70px, 70px);
}

#sec03 .txt_wrap {
  text-align: center;
  padding: 970px 0 0;
  font-size: 20px;
  line-height: 36px;
  font-weight: 400;
}

#sec03 .txt_wrap .txt02 {
  padding: 15px 0 0;
}

#sec03 .txt_wrap .txt02 em {
  color: #fd2c36;
}

#sec03 .fundraising {
  height: 253px;
  position: relative;
}

#sec03 .fundraising img {
  position: absolute;
  left: 50%;
}

#sec03 .fundraising .unit08 {
  top: 85px;
  margin: 0 0 0 -152px;
  -webkit-transform: translate(-70px, -70px);
  -moz-transform: translate(-70px, -70px);
  -ms-transform: translate(-70px, -70px);
  -o-transform: translate(-70px, -70px);
  transform: translate(-70px, -70px);
  opacity: 0;
  filter: alpha(opacity=0);
}

#sec03 .fundraising .unit09 {
  top: 60px;
  margin: 0 0 0 -55px;
  -webkit-transform: translate(70px, -70px);
  -moz-transform: translate(70px, -70px);
  -ms-transform: translate(70px, -70px);
  -o-transform: translate(70px, -70px);
  transform: translate(70px, -70px);
  opacity: 0;
  filter: alpha(opacity=0);
}

#sec04 {
  height: 100vh;
  padding: 26px 0 0;
  background: url(../../images/main/sec04_bg01.png) 50% 0 no-repeat;
  margin: 150px 0 0;
  position: relative;
  z-index: 1;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#sec04 .sec_wrap {
  height: 100%;
  padding: 26px 0 0;
  background: url(../../images/main/sec04_bg02.jpg) 50% 100% no-repeat #d7e8f6;
}

#sec04 h3 {
  width: 1200px;
  margin: 0 auto;
  font-size: 32px;
  line-height: 48px;
  color: #4d6071;
  font-weight: 800;
}

#sec04 h3 .txt01 {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -350px 0 0 -600px;
}

#sec04 h3 .txt01:after {
  width: 54px;
  height: 48px;
  display: block;
  content: "";
  position: absolute;
  top: -25px;
  left: -35px;
  background: url(../../images/main/sec02_que_img.png) 0 0 no-repeat;
}

#sec04 h3 .txt02 {
  position: absolute;
  top: 50%;
  right: 50%;
  margin: 170px -600px 0 0;
  -webkit-transform: translate(0, 30px);
  -moz-transform: translate(0, 30px);
  -ms-transform: translate(0, 30px);
  -o-transform: translate(0, 30px);
  transform: translate(0, 30px);
  opacity: 0;
  filter: alpha(opacity=0);
}

#sec04 .card_slide {
  width: 3303px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -205px 0 0 -610px;
  -webkit-transform: translate(0, 0);
  -moz-transform: translate(0, 0);
  -ms-transform: translate(0, 0);
  -o-transform: translate(0, 0);
  transform: translate(0, 0);
}

#sec04 .card_slide ol {
  font-size: 18px;
  line-height: 30px;
  font-weight: 400;
}

#sec04 .card_slide li {
  width: 625px;
  height: 320px;
  margin: 0 0 0 40px;
  float: left;
  padding: 134px 0 0 55px;
  -ms-background-position-x: 0;
  background-position-x: 0;
  -ms-background-position-y: 0;
  background-position-y: 0;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

#sec04 .card_slide li:nth-of-type(1) {
  margin: 0;
  background-image: url(../../images/main/sec04_card01.png);
}

#sec04 .card_slide li:nth-of-type(2) {
  background-image: url(../../images/main/sec04_card02.png);
}

#sec04 .card_slide li:nth-of-type(3) {
  width: 634px;
  background-image: url(../../images/main/sec04_card03.png);
}

#sec04 .card_slide li:nth-of-type(4) {
  width: 634px;
  background-image: url(../../images/main/sec04_card04.png);
}

#sec04 .card_slide li:nth-of-type(5) {
  background-image: url(../../images/main/sec04_card05.png);
}

#sec05 {
  position: relative;
  height: 1587px;
  background: url(../../images/main/sec05_bg.jpg) 50% 100% no-repeat #967563;
}

#sec05 .txt_wrap {
  padding: 225px 0 0;
  text-align: center;
  font-size: 22px;
  line-height: 38px;
  font-weight: 400;
  z-index: 1;
  position: relative;
}

#sec05 .txt_wrap em {
  color: #fd2c36;
}

#sec05 .txt_wrap .txt02 {
  padding: 15px 0 0;
}

#sec05 .txt_wrap02 {
  padding: 360px 0 0;
  font-size: 18px;
  line-height: 36px;
}

#sec05 .txt_wrap02 p {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, 30px);
  -moz-transform: translate(0, 30px);
  -ms-transform: translate(0, 30px);
  -o-transform: translate(0, 30px);
  transform: translate(0, 30px);
}

#sec05 .road_map img {
  position: absolute;
  left: 50%;
  opacity: 0;
  filter: alpha(opacity=0);
}

#sec05 .road_map .unit01 {
  top: 341px;
  margin: 0 0 0 -229px;
}

#sec05 .road_map .unit02 {
  top: 458px;
  margin: 0 0 0 -172px;
  -webkit-transform: translate(30px, -20px);
  -moz-transform: translate(30px, -20px);
  -ms-transform: translate(30px, -20px);
  -o-transform: translate(30px, -20px);
  transform: translate(30px, -20px);
}

#sec05 .top_unit img {
  position: absolute;
  left: 50%;
  opacity: 0;
  filter: alpha(opacity=0);
}

#sec05 .top_unit .unit01 {
  top: 240px;
  margin: 0 0 0 -700px;
  z-index: 1;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}

#sec05 .top_unit .unit02 {
  top: 465px;
  margin: 0 0 0 -835px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}

#sec05 .top_unit .unit03 {
  top: 220px;
  margin: 0 0 0 450px;
  -webkit-transform: rotate(15deg);
  -moz-transform: rotate(15deg);
  -ms-transform: rotate(15deg);
  -o-transform: rotate(15deg);
  transform: rotate(15deg);
}

#sec05 .top_unit .unit04 {
  top: 325px;
  margin: 0 0 0 635px;
  -webkit-transform: rotate(-15deg);
  -moz-transform: rotate(-15deg);
  -ms-transform: rotate(-15deg);
  -o-transform: rotate(-15deg);
  transform: rotate(-15deg);
}

#sec05 .bottom_unit {
  width: 100%;
  min-width: 1800px;
  position: absolute;
  bottom: 0;
}

#sec05 .bottom_unit div, #sec05 .bottom_unit img {
  position: absolute;
  bottom: 0;
}

#sec05 .bottom_unit .unit01 {
  width: 100%;
  height: 189px;
  background: url(../../images/main/sec05_bg01.png) 50% 50% no-repeat;
  z-index: 10;
  -webkit-transform: translate(0, 50px);
  -moz-transform: translate(0, 50px);
  -ms-transform: translate(0, 50px);
  -o-transform: translate(0, 50px);
  transform: translate(0, 50px);
}

#sec05 .bottom_unit .unit02 {
  width: 792px;
  height: 287px;
  left: 0;
  bottom: 40px;
  background: url(../../images/main/sec05_bg02.png) 50% 50% no-repeat;
  z-index: 9;
  -webkit-transform: translate(0, 50px);
  -moz-transform: translate(0, 50px);
  -ms-transform: translate(0, 50px);
  -o-transform: translate(0, 50px);
  transform: translate(0, 50px);
  opacity: 0;
  filter: alpha(opacity=0);
}

#sec05 .bottom_unit .unit03 {
  width: 232px;
  height: 326px;
  right: 0;
  bottom: 68px;
  background: url(../../images/main/sec05_bg03.png) 50% 50% no-repeat;
  z-index: 9;
  -webkit-transform: translate(0, 50px);
  -moz-transform: translate(0, 50px);
  -ms-transform: translate(0, 50px);
  -o-transform: translate(0, 50px);
  transform: translate(0, 50px);
  opacity: 0;
  filter: alpha(opacity=0);
}

#sec05 .bottom_unit .unit04 {
  right: 122px;
  bottom: 248px;
  -webkit-transform: translate(50px, 0);
  -moz-transform: translate(50px, 0);
  -ms-transform: translate(50px, 0);
  -o-transform: translate(50px, 0);
  transform: translate(50px, 0);
  opacity: 0;
  filter: alpha(opacity=0);
}

#sec05 .bottom_unit .unit05 {
  left: 100px;
  bottom: 155px;
  -webkit-transform: translate(0, 50px);
  -moz-transform: translate(0, 50px);
  -ms-transform: translate(0, 50px);
  -o-transform: translate(0, 50px);
  transform: translate(0, 50px);
  opacity: 0;
  filter: alpha(opacity=0);
}

#sec06 {
  height: 850px;
  background-image: url(../../images/main/sec06_bg.png);
  position: relative;
  -ms-background-position-x: 50%;
  background-position-x: 50%;
  -ms-background-position-y: 0;
  background-position-y: 0;
  background-repeat: no-repeat;
}

#sec06 .txt_wrap {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 0;
  color: #fff;
  text-align: center;
  font-size: 24px;
  line-height: 40px;
  font-weight: 400;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  -ms-transform: translate(0, -50%);
  -o-transform: translate(0, -50%);
  transform: translate(0, -50%);
}

#sec06 .txt_wrap .txt02 {
  padding: 15px 0 0;
}

#sec06 .txt_wrap h3 {
  padding: 15px 0 0;
  letter-spacing: -.5px;
}

#sec06 .txt_wrap p, #sec06 .txt_wrap h3 {
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transform: translate(0, 30px);
  -moz-transform: translate(0, 30px);
  -ms-transform: translate(0, 30px);
  -o-transform: translate(0, 30px);
  transform: translate(0, 30px);
}

/*
.top_btn { width: 78px; height: 78px; position: fixed; bottom: 30px; right: 50px; border: 1px solid #eceeef; border-radius: 80px; background-color: #fff; padding: 20px 0 0; display: none; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; opacity:0; z-index:100; }
.top_btn:hover span:before { top: 20px; }
.top_btn:hover span:after { height: 17px; top: 25px; }
.top_btn span { display: inline-block; font-weight: 600; font-size: 12px; letter-spacing: 0; padding:10px 0 0; }
.top_btn span a { width: 100%; height: 100%; display: block; }
.top_btn span:before,
.top_btn span:after { content: ""; display: block; position: absolute; -webkit-transition: all 0.2s ease; -moz-transition: all 0.2s ease; -o-transition: all 0.2s ease; -ms-transition: all 0.2s ease; }
.top_btn span:before { width: 8px; height: 8px; top: 22px; left: 33px; border: 2px solid #f70707; transform: rotate(45deg); border-bottom: 0; border-right: 0; }
.top_btn span:after { width: 2px; height: 15px; top: 22px; left: 37px; background-color: #f70707; }
*/
/*
  z-index 가이드
  header : 500
  intro : 1000
  container : auto
*/
input[type=text],
input[type=number],
input[type=email],
input[type=tel],
textarea,
select {
  outline: none;
  -webkit-transition: border-color 0.2s ease;
  -moz-transition: border-color 0.2s ease;
  -o-transition: border-color 0.2s ease;
  -ms-transition: border-color 0.2s ease;
}

input[type=text]:focus,
input[type=number]:focus,
input[type=email]:focus,
input[type=tel]:focus,
textarea:focus,
select:focus {
  border-color: #fd2c36 !important;
}

::selection {
  background: #fd2c36;
  color: #fff;
  text-shadow: none;
}

::-moz-selection {
  background: #fd2c36;
  color: #fff;
  text-shadow: none;
}

img {
  vertical-align: top;
  image-rendering: -webkit-optimize-contrast;
}

caption {
  width: 1px;
  height: 1px;
  overflow: hidden;
  margin: -1px;
}
