/* 나눔스퀘어 */
@font-face {
	font-family: "NanumSquare";
	font-style: normal;
	font-weight: 300;
	src:url(../../fonts/NanumSquareL.woff) format("woff");
}
@font-face {
	font-family: "NanumSquare";
	font-style: normal;
	font-weight: 500;
	src:url(../../fonts/NanumSquareR.woff) format("woff");
}
@font-face {
	font-family: "NanumSquare";
	font-style: normal;
	font-weight: 700;
	src:url(../../fonts/NanumSquareB.woff) format("woff");
}
/* 나눔열일체 */
@font-face {
	font-family: "NanumYeorIrCe";
	font-style: normal;
	font-weight: 500;
	src:url(../../fonts/NanumYeorIrCe.woff) format("woff");
}
/* 나눔 열일하는 김주임 */
@font-face {
	font-family: "NanumYageunhaneunGimjuIm";
	font-style: normal;
	font-weight: 500;
	src:url(../../fonts/NanumYageunhaneunGimjuIm.woff) format("woff");
}
