@charset"UTF-8";
/* 메인 css --------------------------------------------------------------------------------------------------------- */
.container { 
	width: 100%; overflow: visible; background-image: linear-gradient(rgba(0, 0, 0, .1) 2px, transparent 2px), linear-gradient(90deg, rgba(0, 0, 0, .1) 2px, transparent 2px), linear-gradient(rgba(0, 0, 0, .1) 1px, transparent 1px), linear-gradient(90deg, rgba(0, 0, 0, .1) 1px, transparent 1px); background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px; background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; 
	> img { position: absolute; top:19626px; }
}
.index {
	background-color: #777;
	section { width: 100%; height: 100vh; }
	.sec1-container { 
		background-color: $white;
		.cont { width: 100%; height: 100vh; position: absolute; top: 0 ; left: 0; overflow:hidden; }
		.content1 { 
			display: flex; align-items: center; justify-content: center; background-color: rgb(165, 59, 59);
			// display: none;
			.txt_wrap {
				text-align: center;
				h1 { font-size: 120px; font-weight: $medium; color: $gray1; } 
				p { padding: 25px 0 0; font-size: 27px; font-weight: $regular; color: $gray1; }
			}
			.bg_circle {
				width: 100%; height: 100vh; overflow: hidden; position: absolute; display: flex; align-items: center; justify-content: center;
				img { position: absolute; }
			}
			.circle_deco1 { animation: linear infinite circleRotateRight 150s; }
			.circle_deco2 { animation: linear infinite circleRotateLeft 110s; }
			.circle_deco3 { animation: linear infinite circleRotateRight 90s; }
			@keyframes circleRotateRight {
				0% { @include rotate(0) }
				100% { @include rotate(360) }
			}
			@keyframes circleRotateLeft {
				0% { @include rotate(0) }
				100% { @include rotate(-360) }
			} 
		}
		.content2 {
			// background-color: rgb(4, 86, 100);
			opacity: 0;
			display: none;
			.txt_wrap {
				width: 100%; height: 100%; text-align: center; display: flex; align-items: center; justify-content: center;
				> div { position: absolute; }
				p { 
					padding: 25px 0 0; font-size: 30px; font-weight: $regular; color: $gray1; line-height: 48px; opacity: 0;
					@include translate(0,20px); 
				}
			}
			.various_circle {
				width: 100%; height: 100%; position: absolute; top: 0; overflow: hidden;
				.round_wrap {
					> div {
						width: 0; height: 0; position: absolute; left: 50%; top: 50%; overflow: hidden;
						@include translate(-50%,-50%);
						@include borderRadius(100%);
						&.round_elm1 { background-color: #9fc3ff; margin: -250px 0 0 -401px; /*  width: 330px; height:330px;  */}
						&.round_elm2 { background-color: #63d1c2; margin: -60px 0 0 -700px; /* width:160px; height:160px;  */}
						&.round_elm3 { background-color: #ff5758; margin: 250px 0 0 -560px;/* width:200px; height:200px;  */}
						&.round_elm4 { background-color: #ffd34e; margin: -260px 0 0 700px;/*  width:220px; height:220px; */}
						&.round_elm5 { background-color: #63d1c2; margin: 175px 0 0 402px;/*  width:240px; height:240px; */}
						&.round_elm6 { background-color: #ff5758; margin: 300px 0 0 701px;/*  width:160px; height:160px; */}
						img { position: absolute; bottom: -100%; }
					}
				}
				.deco_wrap {
					> span {
						width: 0; height: 0; position: absolute; left: 50%; top: 50%;
						@include translate(-50%,-50%);
						&.circle_deco1 { background-color: #ff5758; margin: -338px 0 0 -42px; }
						&.circle_deco2 { background-color: #9fc3ff; margin: 155px 0 0 -735px; }
						&.circle_deco3 { background-color: #ffd34e; margin: 175px 0 0 -145px; }
						&.circle_deco4 { background-color: #9fc3ff; margin: -140px 0 0 288px; }
						&.circle_deco5 { background-color: #ff5758; margin: 419px 0 0 32px; }
						&.circle_deco6 { background-color: #63d1c2; margin: 136px 0 0 677px; }
						@include borderRadius(100%);
					}
				}
			}
			#circularLineMotion { 
				width:1920px !important; height: 970px !important; position: absolute; top: 50% ; left: 50%;
				z-index: -1;
				transform: translate(-50%,-50%) !important;
			}
		}
		.content3 {
			background-color: red; z-index: 2;
			display: none;
			opacity: 0;
			.txt_wrap {
				width: 100%; height: 100%; padding: 155px 0 0; text-align: center; display: flex; justify-content: center;
				p { 
					font-size: 30px; line-height: 48px; color: $gray1; font-weight: $medium; opacity: 0; display: none; 
					@include translate(0,10%);
				}
			}
			.circle_cont {
				> span {
					width: 0; height: 0; background-color: black; position: absolute; top: 50%; left: 50%; 
					@include translate(-50%,-50%);
					@include borderRadius(100%);
				}
				.circle_deco1 { margin: -380px 0 0 -350px; background-color: #ff5758; }
				.circle_deco2 { margin: -350px 0 0 -700px;background-color: #9fc3ff; }
				.circle_deco3 { margin: 150px 0 0 -550px; background-color: #ffd34e;}
				.circle_deco4 { margin: -350px 0 0 450px;background-color: #63d1c2;}
				.circle_deco5 { margin: 0 0 0 650px; background-color: #9fc3ff;}
				.circle_deco6 { margin: 380px 0 0 380px; background-color: #ff5758;}
			}
			.glitter_cont {
				> img {
					width: 21px; height: 21px; position: absolute; top: 50%; left: 50%; 
					opacity: 0; display: none;
					@include translate(-50%,-50%);
				}
				.glitter_deco1 { margin: -180px 0 0 -580px; }
				.glitter_deco2 { margin: 250px 0 0 -850px; }
				.glitter_deco3 { margin: 380px 0 0 -450px; }
				.glitter_deco4 { margin: -250px 0 0 580px; }
				.glitter_deco5 { margin: 200px 0 0 450px; }
				.glitter_deco6 { margin: 330px 0 0 780px; }
			}
			.video_wrap {
				width: 100%; min-width: 1700px; position: absolute; top: 50%; left: 50%; z-index: -1;
				display: none;
				opacity: 0;
				@include transform(translate(-50%,-50%)); 
				video { width: 100%; }
			}
		}
		.content4 {
			background-color: pink;
			display: none; opacity: 0;
			.graph_contain { width: 100%; height: 100%; position: absolute; top: 0; left: 0; text-align: center; display: flex; align-items: center; justify-content: center; flex-direction: column; }
			.txt_wrap {
				width: 100%; text-align: center; display: flex; justify-content: center;
				.inter_font { font-weight: $semiBold; }
				p { 
					font-size: 30px; line-height: 48px; color: $gray1; font-weight: $medium; /* opacity: 0; display: none;  */
					opacity: 0; display: none; 
					@include translate(0,10%);
				}
			}
			.earth_img { display: inline-block; padding: 100px 0 0; opacity: 0; }
			.circle_wrap { position: relative; }
			.txt_percentage {
				> div {		
					width: max-content; position: absolute; font-size: 18px; color: #7e7e7e; font-weight: $medium;
					opacity: 0; display: none; 
					span { font-size: 22px; font-weight: $semiBold; }
					i { font-size: 18px; }
				}
				.txt_elm1 {
					left: 353px; top: 111px;
					span { color: #ff9292; }
				}
				.txt_elm2 {
					left: 384px; top: 142px;
					span { color: #ffc1c2; }
				}
			}
			.income_wrap {
				width: 100%; position: absolute; top: 293px;
				.income_tit { 
					font-size: 22px; font-weight: $regular; opacity: 0; display: none; 					
				}
				.money_tit {
					padding: 10px 0 0;
					opacity: 0; display: none;
					strong { font-size: 34px; }
					.inter_font { font-weight: $semiBold; font-size: 36px; }
					> span { font-size: 22px; font-weight: $medium; }
				}
			}
			.bottom_txt {
				padding: 30px 0 0;
				strong { 
					opacity: 0; display: none; 
					display: block; font-size: 70px; color: $pink; font-weight: $semiBold;
					span { display: inline-block; font-size: 40px; margin: 0 0 0 -18px; }
				}
				> span { 
					opacity: 0; display: none; 
					display: block; padding: 10px 0 0; font-size: 20px; color: $gray1; font-weight: $medium;
					@include transform(skew(-0.001deg)); 
				}
			}
		}
		.content5 {
			height: auto; padding: 350px 0 0;
			position: relative;
			// opacity: 0;
		}
		.transparent_wrap {
			width:100%; height: 100vh;
			// background-color: #0000ff;
			position: absolute; top:0; left:0;
			opacity: .5;
			.one {
				position: absolute; top:0;
				width: 400px; height: 400px; background-color: red;
				@include borderRadius(100%);
			}
		}
	} 
	.sec2-container {
		background-color: blue;
		.cont { width: 100%; height: 100vh; position: absolute; top: 0 ; left: 0; overflow:hidden; }
		.content1 {
			#seedMotion { 
				width:1920px !important; height: 970px !important; position: absolute; top: 50% ; left: 50%;
				z-index: -1;
				transform: translate(-50%,-50%) !important;
			}
		}
	}
	// .sec3-container {}
}
/* //메인 css --------------------------------------------------------------------------------------------------------- */


















/* 기술 연습 css ------------------------------------------------------------------------------------------------*/
.sub1 {
	.first {
		// height: 100vh;
		position: relative;
		.box1 {
			width: 100px; height: 100px;
			background-color: blue;
		}
		.box2 {
			width: 100px; height: 100px;
			background-color: pink;
			position: absolute;
			top:50%; left:50%;
			z-index: 999;
			@include transform(translate(-50%,-50%));
		}
		.box3 {
			width: 100px; height: 100px;
			background-color: green;
			position: absolute;
			top:50%; left:50%;
			z-index: 999;
			@include transform(translate(-50%,-50%));
		}
		.panel {
			height:1000px;
			background-color: #000000;
		}
	}
	> div {background-color: #777;}
	#content { overflow: visible; width: 100%; background-image: linear-gradient(rgba(255, 255, 255, .07) 2px, transparent 2px), linear-gradient(90deg, rgba(255, 255, 255, .07) 2px, transparent 2px), linear-gradient(rgba(255, 255, 255, .06) 1px, transparent 1px), linear-gradient(90deg, rgba(255, 255, 255, .06) 1px, transparent 1px); background-size: 100px 100px, 100px 100px, 20px 20px, 20px 20px; background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px; }
	.box { width: 100px; height: 100px; background-color: #28a92b; position: absolute; left: 300px; z-index: 100; line-height: 100px; font-size: 50px; text-align: center; }
	.box.active { background-color: red; }
	.box-a { top: 200px; background-color: #8d3dae; }
	.box-b { top: 600px; }
	.box-c { top: 1000px; background-color: #e26c16; }

	.sec01 {
		position: relative;
		#animationWindow { height:100vh; }
		.bx_wrap {
			width: 100%; height: 100%; position: absolute; top: 0; left: 0;
			.elm1 { 
				width: 200px; height: 200px; background-color: hotpink; position: absolute; right: 0; 
				@include borderRadius(200px);
			}
			.elm2 { 
				width: 200px; height: 200px; background-color: skyblue; position: absolute; left: 0; 
				@include borderRadius(200px);
			}
		}
	}
	.sec02 { width: 100%; height: 100vh; background-color: teal; }
	.sec03 {
		#animationWindow2 { height:100vh; }
		#animationWindow3 { height:100vh; }
	}
	.sec4_1 {
		width:100%; height:100vh;
		background-color: #eee;
		> div {
			width: 100px; height: 100px;
			background-color: red;
		}
		.elm1 { margin:0 0 0 400px; }
		// .elm2 { margin:200px 0 0 900px; }
		// .elm3 { margin:300px 0 0 800px; }
		// .elm4 { margin:80px 0 0 100px; }
		h2 {
			font-size: 3rem;
		 }
		 h2 + p {
			margin-top: 1rem;
		 }
		 p {
			max-width: 65ch;
			line-height: 1.5;
		 }
		 .blue {
			background-color: rgb(196, 196, 248);
		 }
		 .section {
			height: 100vh;
			width: 100%;
			padding: 2rem;
		 }
	}


	/* 가로스크롤 */
	.sec04 {
		width: max-content; height: 100vh; position: relative;
		&:after { clear: both; content: ""; display: block; }
		// .over_box {
		// 	width: 100%; height: 100%; background-color: rgba(255,255,255, .8); position: absolute; top: 0; right: 0; z-index: 999;
		// }
		.line_wrap { 
			width: 100%; height: 100%;
			position: absolute; top:0; left:0; z-index: 5;
			.line {
				width: 100%; height: 100%;
			}
			svg { 
				width: 100%; height: 100%; fill :none; stroke: black; stroke-width: 10px; 
				// stroke-dashoffset: 0;
				stroke-dashoffset: 8520;
				stroke-dasharray: 8520;
			}
		}
		.min {
			width: 1300px; height: 100vh;
			background-color: pink;
			float:left;
			&:nth-of-type(odd) { background-color: green; }
		}
	}
	.sec05 {
		height: 200vh;
		background: #777;
		// position: relative;
		.one {
			width: 500px; height: 500px; background-color: #28a92b;
			@include borderRadius(500px);
		}
		.txt_wrap {
			position: fixed; top:0;
			font-size: 50px;
		}
	
	}
}
.sub2 {
	.spacer {
		width:100%;
		height:100vh;
		background:#000000;
	}
	
	#trigger {
	width:100%;
	height:1px;
	background:#ff0000;
	}
}
.sub3 {
	width: 100%; height: 4000px; background-color: #eee;
}
/* //기술 연습 css ------------------------------------------------------------------------------------------------*/