@charset "UTF-8";
.container { overflow: hidden; }
section {
    width:100%; height:100vh;display: flex;align-items: center;
    @include boxSizing;
    .txt_wrap {
        padding:0 0 0 em(40);
        .small_title {
            font-family:$GimjuIm;color:$white; font-size:em(32);padding:em(13) em(20) em(14);background-color:#c40514;
            letter-spacing: em(-2);font-weight: $bold;
            @include borderRadius(5px);
        }
        .title {
            padding:em(60) 0 0;
            img { width:100%; }
        }
        .dies {
            padding:em(60) 0 0; color:#d3d3d3; font-size:em(28); line-height:em(48);
            letter-spacing:em(-0.2); font-weight:$bold;
            @include transform(skew(-0.03deg));
        }
    }
}
.sec1 {
    background:url(../../images/main/sec1_bg.jpg) 50% 50% no-repeat;
    background-size:cover; overflow: hidden;
    .txt_wrap {
        width:100%; text-align:center; position:absolute; top:46%; left:50%; z-index:2; padding:0 em(40);
        @include transform(translate(-50%,-50%));
        @include boxSizing;
        span {
            display:block;margin:0 0 em(-55); font-family:$NanumYeorIrCe;color:#4c2d1f;font-size:em(60);
            font-weight:800; letter-spacing: em(-5);opacity: 0;
        }
        h1 {
            font-family:$NanumYeorIrCe;color:#4c2d1f;font-weight:$regular;font-size:em(230);letter-spacing:em(-12);
            margin:0 em(25) 0 0;opacity: 0;
            i { margin:0 em(-15) 0 0; }
        }
        .video_wrap {
            width:100%;padding:0 0 56.25%;position:relative; margin:em(30) 0 0; z-index:2;
            opacity:0;
            @include boxSizing;
            iframe {width:100%; height:100%;position:absolute; top:0; left:0;}
        }
    }
    .person_img {
        img {
            position:absolute; opacity:0;
            @include transform(scale(0));
            &:nth-of-type(1) {width:em(68); height:em(108); top:-11.25rem;right:6rem;}
            &:nth-of-type(2) {width:em(92); height:em(146);top:-16.25rem;left:6rem; opacity:0 !important;}
            &:nth-of-type(3) {width:em(92); height:em(145); top:-5.25rem;left:2rem;}
            &:nth-of-type(4) {width:em(78); height:em(125);top:-10.25rem;left:17rem;}
            &:nth-of-type(5) {width:em(66); height:em(108);top:-3.25rem;left:33.5rem;}
            &:nth-of-type(6) {width:em(70); height:em(106); bottom:-3.25rem;left:1rem;}
            &:nth-of-type(7) {width:em(76); height:em(122); bottom:-7.25rem;left:33rem;}
            &:nth-of-type(8) {width:em(94); height:em(144); bottom:-11.25rem;left:17rem;}
            &:nth-of-type(9) {width:em(83); height:em(134); bottom:-15.25rem;left:6rem;}
            &:nth-of-type(10) {width:em(92); height:em(145); bottom:-19.25rem;left:28rem;}
        }
    }
}
.sec2 {
    position: relative;z-index: 2;
    background:url(../../images/main/sec2_bg.jpg) 50% 50% no-repeat;background-size:cover;
    .title {width:em(539); height:em(140);}
    .txt_wrap {padding:em(80) 0 0 em(40);}
}
.sec3 {
    width:100%; height:100%; overflow: hidden; position: relative;
    .fp-tableCell { position:relative; }
    .contain {width:100%; height:100%; position:relative;}
    .slide_cont {
        background-size: cover;background-repeat:no-repeat;background-position: 50% 50%;
        &.slide_1 {
            background-image:url(../../images/main/sec3_bg_1.jpg);
            .cont_wrap {
                .name_tit {width:em(405); height:em(58);}
            }
        }
        &.slide_2 {
            background-image:url(../../images/main/sec3_bg_2.jpg);
            .cont_wrap { .name_tit {width:em(324); height:em(58);} }
        }
        &.slide_3 {
            background-image: url(../../images/main/sec3_bg_3.jpg);
            .cont_wrap { .name_tit {width:em(430); height:em(45);} }
        }
        &.slide_4 {
            background-image: url(../../images/main/sec3_bg_4.jpg);
            .cont_wrap { .name_tit {width:em(339); height:em(51);} }
        }
        &.slide_5 {
            background-image: url(../../images/main/sec3_bg_5.jpg);
            .cont_wrap { .name_tit {width:em(245); height:em(58);} }
        }
        &.slide_6 {
            background-image: url(../../images/main/sec3_bg_6.jpg);
            .cont_wrap { .name_tit {width:em(293); height:em(59);} }
        }
        .cont_wrap {
            position: absolute; top:15%;
            & > img {
                width:100%; padding:em(30) em(34) 0;
                @include boxSizing;
            }
            .name_tit {
                padding:0 em(40); position:relative; z-index:3;
                img { width:100%; }
            }
            p {
                padding: em(30) 0 0 em(40);font-size: em(28);line-height: em(44);
                color: #372a24;letter-spacing: em(-1); font-weight:$bold;
                @include transform(skew(-0.03deg));
            }
            .more_anchor {
                padding:em(30) 0 0;margin:0 0 0 em(40); position: relative;display: inline-block;
                font-size: em(28);color: #e60012;font-weight: $bold;
                @include transform(skew(-0.03deg));
                &:after {content: "";display: block;position: absolute;bottom: -2px;width: 100%;height: 1px;background-color: #e60012;}
            }
        }
    }
    // indicator
    .fp-slidesNav.bottom {top:16.5%; right:em(40);z-index:999; width:0; height:0; left:auto!important;}
    #fp-nav ul, .fp-slidesNav ul {
        width:max-content;float:right;position:relative;
        &:after {content:"";display:block;width:100%; height:100%; position:absolute; top:0; left:0; z-index:100;}
    }
    #fp-nav ul li, .fp-slidesNav ul li {width: em(30);height: em(30);margin:0;}
    #fp-nav ul li a span, .fp-slidesNav ul li a span {position: absolute;z-index: 1;height: em(15);width: em(15);border: 0;background: #cabbab;margin:0;}
    #fp-nav ul li a.active span, #fp-nav ul li:hover a.active span,
    .fp-slidesNav ul li a.active span,
    .fp-slidesNav ul li:hover a.active span {height: em(15);width: em(15);background: $red;margin:0;}
    // full page slide navi button none
    .fp-controlArrow.fp-prev, .fp-controlArrow.fp-next {display:none !important;}
}
.sec4 {
    background-color:$black;background-size:cover;flex-direction: column;justify-content: center;align-items: inherit;
    overflow: hidden;
    .img_wrap {position:relative;width:100%; z-index:1;margin:0 auto;/* top:em(120);*/}
    .frame { img{ width:100%; } }
    .window_img {
        width: 91%;position: absolute;z-index: -1;top: 13%;left: 2%;
        img {
            width:100%; position:absolute; left:0; top:0; opacity:0;
            &:first-of-type{ opacity:1; }
        }
    }
    .txt_wrap {
        //padding:em(150) 0 em(100) em(40);
        position:relative; z-index:2;
        @include boxSizing;
        .title {width:em(632); height:em(216);}
    }
}
.sec5 {
    background:url(../../images/main/sec5_bg.jpg) 50% 50% no-repeat;background-size:cover;
    position:relative;
    .txt_wrap {
        position:absolute; left:em(40); top:12%; padding:0;
        .title {width:em(543); height:em(223);}
        p { color:#312f2a;}
    }
}
